{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Records table -->

    <div class="col-3">
      <div class="">
        <div class="d-flex flex-column position-relative">
          <div class="hide-scrollbar">
            <div class="container py-3">
              <div class="mb-3">
                <h3 class="fw-semibold mb-2 text-uppercase">Records</h3>
                <!-- Transformer selection dropdown -->

                <div class="btn-group">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Select transformer
                  </button>

                  <ul class="dropdown-menu">
                    {% if transformers != None %} {% for transformer in
                    transformers %}

                    <li>
                      <a
                        class="dropdown-item"
                        href="{{ url_for('rtdatabase.records', transformer_selected=transformer) }}"
                        name="{{ transformer }}"
                        >{{ transformer }}<i
                          class="bi bi-trash3"
                          style="color: red"
                        ></i
                      ></a>
                    </li>

                    {% endfor %} {% endif %}
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#transformerModal"
                      >
                        Add a new transformer
                      </button>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Card list -->

              <form
                class=""
                action=""
                method="POST"
                autocomplete="off"
                style="
                  height: calc(100vh - 195px);
                  display: flex;
                  overflow: hidden;
                "
              >
                <!-- Tranformer Modal -->

                <div
                  class="modal fade"
                  id="transformerModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          Add a new transformer
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="transformer-name" class="col-form-label"
                            >Name:</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="transformer"
                            id="transformer-name"
                            required
                          />
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          class="btn btn-primary"
                          name="action"
                          value="add"
                          id="add-new-transformer"
                        >
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Record List  -->

                <div class="card-list px-3 scrollable-area" id="record-list">
                  {# {% for key, timestamp in kt.items() %} {% if key == "No
                  records found" %} <em>No records found</em>
                  {% else %}
                  <a
                    href="{{ url_for('rtdatabase.records', record_name=key) }}"
                    class="card mb-2 link-underline link-underline-opacity-0"
                    name="{{ key }}"
                    aria-current="true"
                  >
                    <div class="card-body">
                      <div>
                        <h5 class="fw-semibold">{{ key }}</h5>
                      </div>
                      <small class="text-body-tertiary">
                        {{ timestamp }}
                      </small>
                    </div>
                  </a>
                  {% endif %} {% endfor %} #}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Graphs -->

    <div class="col-9">
      <form
        class="d-flex justify-content-evenly align-items-center m-4"
        id="image-form"
      >
        <!-- DGA selection -->

        <span class="text-nowrap fw-semibold">Select two tools:</span>

        {% for image in image_paths %}

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ image }}"
            name="image"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ image }}
          </label>
        </div>

        {% endfor %}

        <button
          type="submit"
          class="record-button"
          id="show-button"
          name="action"
          value="show"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-right-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
            />
          </svg>
        </button>
      </form>

      <!-- Image display -->

      <div
        class="d-flex flex-shrink-1 justify-content-evenly"
        id="selected-images"
      ></div>
    </div>
  </div>
</div>
{% endblock %}
